.btn {
  background-color: var(--btn-color);
  border: 1px solid transparent;
  outline: none;
  color: var(--btn-text);
  padding-block: 15px;
  padding-inline: 30px;

  border-radius: var(--radius);
  box-shadow: var(--box-shadow);

  transition: background-color 0.2s;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;

  cursor: pointer;

  &:hover {
    background-color: var(--btn-color-hover);
  }

  &.fullWidth {
    width: 100%;
  }
}
